{% extends "base.html" %}
{% block styles %}
{{ super() }}

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}
<h1 class="title">
  OOAD Lab Project
</h1>
<h2 class="subtitle">
  Calendar Application
</h2>
<h4>
  <p>
    Team Members:
    Rakshith R Acharya (PES2201800165)<br>
    Joe Rishon Manoj (PES2201800340)<br>
    Manikya Bardhan (PES2201800351)<br>
  </p>
</h4>
<p>
  <br>
  This application allows you to add events and share them with other users of the app.
</p>
{% endblock %}